<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexstyles.css') }}">

</head>
<body>
    <!-- Contenido de la página -->
    <div class="container">
        <h1>Bienvenido al Sitio de Tutoria entre Pares (STEP)</h1>
        <p>Este sitio te ayudará a encontrar la tutoria que necesitas.</p>
        
        <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
        <div class="text-center mt-3">
          <a href="{{ url_for('register') }}">¿No tienes cuenta? Regístrate aquí</a>
        </div> 
</body>
</html>
